.jokes {
    display: flex;
    flex-wrap: wrap;
}

.singleJoke {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid goldenrod;
    padding: 20px;
    max-width: 20em;    
}

.question {
    padding: 10px;
}

.answer {
    padding: 10px;
    text-decoration: underline;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
