.jokes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.singleJoke {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid goldenrod;
    padding: 20px;
    max-width: 20em;
    display: table-row;
}

.question {
    padding: 10px;
}

.answer {
    padding: 10px;
    text-decoration: underline;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

body {
    background-image: url(https://avatars2.githubusercontent.com/u/218592?s=400&v=4);
    background-size: cover;
}